@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Indraprastha Nagar,Bhamti,<br />
    Nagpur-440022, Maharashtra<br />
    <abbr title="Phone">P:</abbr>
    9623522969
</address>

<address>
    <strong>Company Mail:</strong>   <a href="companymail@zensar.com">abhishek.hadke@zensar.com</a><br />
    <strong>Personal Mail:</strong> <a href="personalmail@gmail.com">abhishekhadke1234@gmail.com</a>
</address>